<%inherit file="/homepage/templates/base.htm" />

<%block name="content">
    <div class="content">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <h2 class="manage">Transaction Sheet</h2>
      </div>
      <div class="clearfix"></div>
      <br/>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <p>
        This site accepts the CSV output from <a href="http://mint.m">Mint.com</a>. Once logged in to Mint, go to the
        "Transactions" tab. At the bottom of the list of transactions, there will be a link that says, "Export all <i>n</i> transactions".
        Click there to download a CSV that you can upload here.
        </p>
        <p>
        <strong>Note: You should format the date column in the CSV before uploading it.</strong>
        </p>
        <p>
        Open in Excel > highlight dates > right-click > format > custom > type in YYYY-MM-DD
        </p>
        <br/>
        <br/>
        <form method="POST" enctype="multipart/form-data">
          <table>
            ${ form }
          </table>
          <br>
          <button type="submit" class="btn btn-success">Submit</button>
          <a href="/transaction/transaction/" class="btn btn-primary">Back</a>
        </form>
    </div>
</%block>
