## this is the skeleton of all pages on in this app - it defines the basic html tags

## set up a StaticRenderer object to enable the CSS/JS automatic inclusion magic.
<%! from django_mako_plus.controller import static_files %>
<%  static_renderer = static_files.StaticRenderer(self) %>

<!DOCTYPE html>
<html lang="en">
<html>
  <meta charset="UTF-8">
  <head>
    <meta name="description" content="Finance Something">
    <meta name="keywords" content="data visualization, finance, money, personl">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Finance Something</title>
    
    ## add any site-wide scripts or CSS here; for example, jquery:
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <!--<script src="${STATIC_URL}users/scripts/script.js/"></script>-->
    <script src="${ STATIC_URL }homepage/media/jquery.form.js"></script>
    <script src="${ STATIC_URL }homepage/media/jquery.loadmodal.js"></script>
    <script src="${STATIC_URL}homepage/scripts/signup.js/"></script>
    <script src="${ STATIC_URL }homepage/scripts/base.js"></script>
    <!-- Bootstrap Core CSS -->
    <link src="${ STATIC_URL }homepage/styles/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link src="${ STATIC_URL }homepage/styles/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link src="${ STATIC_URL }homepage/styles/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    ## render the css with the same name as this page
    ${ static_renderer.get_template_css(request, context)  }

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand topnav" href="#">Login</a> -->
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navar-left">
                    %if request.user.is_authenticated():
                    <div class="list-inline">
                        <li><a href="/users/account/"><button class="btn btn-success btn-md btntop">My Account</button></a></li>
                        <li><a href="/homepage/logout/"><button class="btn btn-primary btn-md btntop">Log Out</button></a></li>
                    </div>
                    %else:
                    <div class="list-inline">
                        <li><button id="show_login_dialog" class="btn btn-success btn-md btntop">Login</button></li>
                        <li><a href="/homepage/signup.create"><button class="btn btn-primary btn-md btntop">Sign Up</button></a></li>
                    </div>
                    %endif
                </ul>
                <ul class="nav navbar-nav navbar-right">
                %if request.user.is_authenticated():
                    <li><a>Welcome, ${ request.user.get_full_name() } </a> </li>
                    <li>
                        <a href="/account/account">Accounts</a>
                    </li>
                    <li>
                        <a href="/transaction/transaction/">Transactions</a>
                    </li>
                    <li>
                        <a href="/dashboard/dashboard">Dashboard</a>
                    </li>
                %else:
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                %endif
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

        <!-- Modal Login-->
          <div class="modal fade" id="login_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Please Login</h4>
                </div>
                <div class="modal-body">
                  ...
                </div>
                  <!--
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-warning">Save changes</button>
                    </div>
                  -->
              </div>
            </div>
          </div>

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>My Finances</h1>
                        <h3>Personal Finances</h3>
                        <hr class="intro-divider">


                        %if request.user.has_perm('add_logentry'):                        
                            <ul class="list-inline intro-social-buttons">
                                <li>
                                    <a href="/users/users/" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Users</span></a>
                                </li>
                                <li>
                                    <a href="/account/account" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Accounts</span></a>
                                </li>
                                <li>
                                    <a href="/transaction/transaction" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Transactions</span></a>
                                </li>
                                <li>
                                    <a href="/dashboard/dashboard" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Dashboard</span></a>
                                </li>
                            </ul>
                        %elif request.user.is_authenticated():
                            <ul class="list-inline intro-social-buttons">
                                <li>
                                    <a href="/account/account" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Accounts</span></a>
                                </li>
                                <li>
                                    <a href="/transaction/transaction" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Transactions</span></a>
                                </li>
                                <li>
                                    <a href="/dashboard/dashboard" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Dashboard</span></a>
                                </li>
                            </ul>
                        %else:
                            <ul class="list-inline intro-social-buttons">
                                <li>
                                    <a href="https://www.linkedin.com/in/codybpettit" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                                </li>
                                <li>
                                    <a href="http://github.com/cpett" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">GitHub</span></a>
                                </li>
                                <li>
                                    <a href="https://github.com/doconix/django-mako-plus" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">DMP</span></a>
                                </li>
                            </ul>
                        %endif
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">A Bit About<br>This Site</h2>
                    <p class="lead">I started building this site during my free time after an intro to web dev class. I wanted to practice more with <a href="https://github.com/doconix/django-mako-plus">Django-Mako-Plus</a> and <a href="http://d3js.org/">d3.js</a>.<br>
                    If you want to look around, feel free to create a profile, or ask me for the test account credentials.<br>
                    This is very much a work-in-progress, but feel free to poke around and please give me feed back!</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="${ STATIC_URL }homepage/media/ipad.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">A Bit About<br>Me</h2>
                    <p class="lead">My name is Cody Pettit. I am currently working toward a Masters of Information Systems Management at BYU. I have a passion for technology, and I am fasinated by data security and the trends within that industry.<br><br>When I'm not studying or working, I am probably working on projects like this, watching a movie with my beautiful wife, Sidney, or longboarding in the canyon with friends.<br><br>Sidney and I love to travel and have adventures! I lived in Romania for two years, and we have been to Jamaica, Grand Cayman, and Cozumel. We are planning a trip to Europe after we graduate--We want to see as much of the world as possible!<br><br>Please feel free to reach out to me via email or LinkedIn.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="${ STATIC_URL }homepage/media/me.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">A Bit About<br>The Technology</h2>
                    <p class="lead">I used <a href="https://github.com/doconix/django-mako-plus">Django-Mako-Plus</a> (DMP) to develop this site. The main purpose of this site was to practice with DMP and learn data visualization with <a href="http://d3js.org/">d3.js</a>. This site also features a PostegreSQL database, Bootstrap, and a few JavaScript libraries. Also, the stock photos are from <a href="http://deathtothestockphoto.com/">Death to the Stock Photo</a?</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="${ STATIC_URL }homepage/media/music.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Summer 2015 Project</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://github.com/doconix/django-mako-plus" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">DMP</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/cpett" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/codybpettit" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Est odio ac at nulla, litora proin aenean risus nulla soluta</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery 
    <script src="${ STATIC_URL }homepage/scripts/jquery.js"></script>
    -->     
    <!-- Bootstrap Core JavaScript -->
    <script src="${ STATIC_URL }homepage/scripts/bootstrap.min.js"></script>

</body>

</html>
